.cartAdd{
    /* background-color: green; */
    width: 100%;
    height: 10%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.cartEmpty{
    text-align: center;
}